@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

html,
body {
    font-family: 'Pretendard', sans-serif;
    color: #f0f0f0;
    width: 100vw;
    height: 100svh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #0c0c0c;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 40%;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1) brightness(0.7);
    mix-blend-mode: difference;
    max-width: 220px;
}

img {
    width: 100%;
    max-width: 100%;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    height: 150%;
    object-fit: cover;
    opacity: 0.7;
}

.root_daum_roughmap_landing {
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    width: 100%;
    max-width: 320px;
    max-height: 180px;
    display: none;
}

.dim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    backdrop-filter: blur(8px);
}

.infor {
    width: 90%;
    max-width: 480px;
    z-index: 101;
    position: absolute;
    background: #1c1c1cee;
    /* border-radius: 128px 0 16px 0; */
    box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.3);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5vw;
    max-height: 720px;
    min-height: 74vh;
    height: 100%;
}

.infor_logo {
    width: 40%;
    max-width: 160px;
    aspect-ratio: 1/0.6;
    margin-bottom: 20px;
    overflow: hidden;
    filter: invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f0f0f0;
    letter-spacing: -0.05em;
    font-size: 1.3em;
    font-weight: 400;
}

.sub_txt {
    font-size: 0.7em;
    letter-spacing: 10px;
}

.label {
    background: #a90e0e;
    color: #fff;
    border-radius: 100px;
    padding: 0 6px;
    height: 14px;
    font-size: 0.6em;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.location,
.date,
.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    margin-top: 24px;
}

.location p,
.date p,
.info p {
    font-size: 0.78em;
}

.info p {
    display: flex;
    width: 100%;
}

.info p span:first-child {
    flex: 0 0 8px;
}

.sm_txt {
    font-size: 0.78em;
    opacity: 0.9;
}

p.last_text {
    display: flex;
    width: 100%;
    margin-top: 30px;
    font-size: 0.6em;
    letter-spacing: -0.025em;
    opacity: 0.8;
    font-style: italic;
}

.last_text span {
    flex: 0 0 6px;
}

.location > p > a {
    font-size: 0.8em;
    opacity: 0.6;
    text-decoration: underline;
    color: inherit;
    display: flex;
    align-items: center;
}

.location > p > a img {
    filter: invert(1);
    position: relative;
    margin-left: 3px;
    width: 12px;
    height: 12px;
}

.button_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    width: 100%;
}

.button_wrap a {
    overflow: hidden;
    color: inherit;
    text-decoration: none;
    font-size: 0.8em;
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 42px;
}

.button_wrap a:first-child {
    background: #a90e0e;
}

.button_wrap a svg {
    width: 65px;
}

.tab_menus {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.tab_menus button {
    cursor: pointer;
    flex: 1 0 0;
    background: #000;
    color: #fff;
    border: none;
    height: 24px;
    padding: 0 14px;
    border-radius: 100px;
    font-size: 0.9em;
    opacity: 0.3;
}

.tab_content {
    width: 100%;
    overflow: auto;
    margin-bottom: 30px;
    max-height: 50vh;
    display: none;
}

main[data-idx='1'] .tab_content[data-idx='1'] {
    display: block;
}

main[data-idx='2'] .tab_content[data-idx='2'] {
    display: block;
}

main[data-idx='1'] .tab_menus button[data-idx='1'] {
    opacity: 1;
    background: #a90e0e;
}

main[data-idx='2'] .tab_menus button[data-idx='2'] {
    opacity: 1;
    background: #a90e0e;
}
